{% extends "star_ratings/widget_base.html" %}
{% load ratings %}
{% load i18n %}

{% block rating_detail %}
{% block rating_average %}
<div class="star-ratings-rating-average">{% trans 'গড় ভোট: ' %} <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></div>
{% endblock rating_average %}
{% block rating_count %}
<div class="star-ratings-rating-count">{% trans 'মোট ভোট দিয়েছে: ' %} <span class='star-ratings-rating-value'>{{ rating.count }} জন</span></div>
{% endblock rating_count %}
{% block rating_user %}
    {% if user_rating %}
        <div class="star-ratings-rating-user">{% trans 'আপনি ভোট দিয়েছেন: ' %} <span class='star-ratings-rating-value'>{{ user_rating.score }}</span></div>
    {% else %}
        <div class="star-ratings-rating-user"><span>{% trans 'আপনি এখনো ভোট দেন নাই' %}</span> </div>
    {% endif %}

<!-- {% if not user.is_authenticated %}
    <p>{% trans 'ভোট দিতে লগ ইন করুন । ' %}</p>
{% endif %} -->
{% endblock rating_user %}
{% endblock rating_detail %}
