{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} স্বাগতম | {{ block.super }} {% endblock %}

{% block content %}
    <h2>{{msg}}</h2>
    {% if file_upload %}

        <div class="col-md-6">
            <form role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{upload_form|crispy}}
                <input class="btn btn-primary" type="submit" name="upload" value="Upload File">
            </form>
        </div>

    {% endif %}

    {% if confirm_upload %}

        <div class="col-md-6">
            <form role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{confirm_form|crispy}}
                <input class="btn btn-primary" type="submit" name="confirm" value="Confirm">
            </form>
        </div>

    {% endif %}


{% endblock %}
