{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}
{% load crispy_forms_tags %}

{% block title %} {{author.author_name}} | {{ block.super }} {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            {% if author.image %}
                <img src="{{author.image.url}}" alt=""  width="300px" /> <br>
            {% endif %}

        </div>
        {% if author.description %}
            <div class="col-sm-8">
                <p>
                    {{author.description|linebreaksbr}}
                    {% if author.external_link %}
                        <br><br>
                        <a href="{{author.external_link}}">বিস্তারিত...</a>
                    {% endif %}
                </p>

            </div>
        {% endif %}

    </div>
    <h1>{{author.author_name}}</h1>

    <hr>


        {% for book in author.book_set.all %}

        <div class="polaroid col-lg-2 col-md-2 col-sm-3 col-xs-4 " style="margin:10px ; height:360px">
            <img src="{{book.cover.url}}" alt="" class="img-responsive" /> <br>
            <p>
                <a href="{{book.get_absolute_url}}">{{book.title}}</a><br>

                {% if not book.free %}
                    <b> মূল্যঃ</b> {{book.get_price_in_bn}}  টাকা মাত্র । <br><br>
                    <form class='add-form' method='GET' action="">

                        <input type="hidden" name='item' value='{{ book.id }}' />

                        <input class='form-control' type='hidden' name='qty' value='1' />

                        <input id='submit-btn' type='submit' value='Add to Cart' class='btn btn-warning' />
                    </form>
                {% else %}
                    <b> ফ্রি</b><br> <br>
                    <a href="{{book.book_file.url}}" type="button" class="btn btn-info">Downlaod</a>
                    <br>
                {% endif %}
            </p>
        </div>


        {% endfor %}


{% endblock %}
