{% load staticfiles %}

<script  src="{% static "js/jquery-2.2.4.min.js" %}" type="text/javascript"></script>
<!-- <script  src="{% static "js/notify.min.js" %}" type="text/javascript"></script> -->
<script  src="{% static "js/notify.js" %}" type="text/javascript"></script>
<script  src="{% static "bootstrap/js/bootstrap.min.js" %}" type="text/javascript"></script>

<script>

     function updateCartItemCount(){
     	var badge = $("#cart-count-badge");
        console.log("Updating cart item count");

     	$.ajax({
     		type: "GET",
     		url: "{% url 'carts:item_count' %}",
     		success: function(data){
     			badge.text(data.count);
     			console.log(data.count);
                console.log("Successfully updated cart item");

     		},
     		error: function(response, error) {
     			console.log(response)
     			console.log(error);
     		}

     	})

     }

     $(document).ready(function(){

     	updateCartItemCount()
     })


     var navpos = $('#nav_bar').offset();

     $(window).bind('scroll', function () {
         if ($(window).scrollTop() > navpos.top) {
              console.log($(window).scrollTop())
             // console.log("Scrolled down");
             $('#nav_bar').addClass('navbar-fixed-top');
         }
         if ($(window).scrollTop() <navpos.top+1){
              console.log($(window).scrollTop())
             // console.log("Scrolled up");
             $('#nav_bar').removeClass('navbar-fixed-top');
         }
     });


</script>
